.smallInput
{

	height:25px;
	font-size:18px;

	border-bottom-width:2px;
	border-top-width:2px;
	border-left-width:2px;
	border-right-width:2px
}
body
{
	background-size:1500px;
}

.smallGround
{
	background: linear-gradient(white, #87CEFA);
	height:250px;
	width: 1500px;
	position: relative;
	left:10px;
	top:10px;
}

.smallGround1
{
	font-size:25px;
	font-weight:bold;
	position: absolute;
	left:10px;
	top:240px;
}
.first
{
	background: linear-gradient(white,#87CEFA);
	font-size:20px;
	color: #031af2;
}

.table1
{
	text-align:center;
	background-color:#87CEFA;
	font-size: 20px;
}

.color-text
{
	text-align:center;
	color:#3e78f2;
	font-size: 18px;

}
.color-text1
{
	text-align:center;
	background-color:#87CEFA;
	font-size: 20px;

}

.jh_smallGround
{
	font-size:25px;
	font-weight:bold;
	position: absolute;
	left:10px;
	top:280px;
}
.GJ_smallGround
{
	font-size:25px;
	font-weight:bold;
	position: absolute;
	left:10px;
	top:280px;
}
.back
{
	background: linear-gradient(white,#87CEFA);
}